{% extends "base.html.twig" %}

{% block title %}AppBundle:BlogController:post{% endblock %}

{% block body %}
<h1>Welcome to the BlogController:post page</h1>
    <h2>{{ arg | upper }}</h2>
{% endblock %}
